// Colors

$white: #ffffff;
$white-100: #f2f2f2;
$white-150: #ebebeb;
$white-200: #eaeaea;
$black: #000000;
$grey: #444444;
$grey-50: #666666;
$grey-100: #cdcdcd;
$grey-150: #d9d9d9;
$grey-200: #e7e7e7;
$grey-230: #e6e6e6;
$grey-250: #bababa;
$green: #68b738;
$green-100: #5eaa2f;
$status-error: #ff8282;


// Breakpoints

$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-only: 767px;
