.button {
  border: none;
  font-family: 'Oswald';
}

.button__wrapper {
  padding: 28px 10px 34px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 11px 0 67px;
  }

  @media (min-width: $desktop-width) {
    padding: 29px 0 68px;
    transform: translateX(15px);
    position: relative;
    justify-content: space-between;
  }
}

.button__before,
.button__after {
  font-family: inherit;
  color: $black;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0 11px;
  max-width: 70px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted $grey-100;
    margin: 0 18px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }

  &:hover {
    border-bottom: 1px solid $black;
  }

  &:active {
    border-bottom: none;
  }
}

.button__before {
  @media (min-width: $desktop-width) {
    margin-left: 17px;
  }
}

.button__after {
  @media (min-width: $desktop-width) {
    margin-right: 10px;
  }
}

.button__form {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
  background-color: $green;
  text-transform: uppercase;
  color: $white;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 10px;
  cursor: pointer;

  &:hover {
    background-color: $green-100;
  }

  &:active {
    background-color: $green-100;
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
    padding: 11px 11px;
    max-width: 282px;
  }

  @media (min-width: $desktop-width) {
    min-width: 568px;
  }
}

.button__catalog {
  display: inline-block;
  grid-column: 1/-1;
  grid-row: 2/3;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  background-color: $green;
  padding: 11px 10px 11px;
  transition: 0.3s ease-out;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  width: 100%;

  &:hover {
    background-color: $green-100;
  }

  &:active {
    background-color: $green-100;
    color: rgba(255, 255, 255, 0.3);
  }

  &--link {
    width: 100%;
    background-color: $white-100;
    color: $black;
    box-shadow: inset 0 0 2px $black;

    @media (min-width: $tablet-width) {
      box-shadow: none;
    }

    &:hover {
      background-color: $white-150;
    }

    &:active {
      background-color: $white-150;
      color: rgba(0, 0, 0, 0.3);
    }
  }

  &--link-wrapper {
    margin: 18px 0 0;

    @media (min-width: $tablet-width) {
      padding: 0 36px;
      margin: 86px 0 49px;
    }
  }
}

.button__catalog-wrapper {
  grid-column: 1/-1;
  grid-row: 2/3;
  margin: 21px 0 0;

  @media (min-width: $tablet-width) {
    padding: 0 36px;
    margin: 33px 0 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 39px;
    margin: 33px 0 38px;
  }
}

.button__optionally {
  color: $white;
  text-transform: uppercase;
  text-align: center;
  background-color: $green;
  padding: 10px 10px 10px;
  transition: 0.3s ease-out;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  margin-top: 13px;

  &:hover {
    background-color: $green-100;
  }

  &:active {
    background-color: $green-100;
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: auto;
  }
}
